<footer class="footer">
  <div class="footer_copyright">
    © 2026 Wonder Destination. All rights reserved.
  </div>
  <button
    class="footer_button"
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
  >
    Back to top ↑
  </button>
</footer>
