:root {
  --background-color: #03021e;
  --accent-color: #00c8ff;
  --text-color: #cdcce0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header_logo {
  cursor: pointer;
}

.header_logo-text {
  font-weight: 700;
  font-size: 1.4rem;
}

.header_logo-text span {
  color: var(--accent-color);
}

.mobile_hamberger,
.mobile_close {
  display: none;
  cursor: pointer;
}

.header_nav {
  display: flex;
  gap: 0.5rem;
}

.header_link {
  text-decoration: none;
  color: var(--text-color);
  padding: 5px 14px;
}

.header_link.active {
  color: var(--accent-color);
}

.header_link:hover {
  color: var(--accent-color);
}

.home {
  position: relative;
  background-image: url('../images/home_bg.webp');
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_wrapper {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.home_overlay {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #03021ea1;
  z-index: 1;
}

.home_title {
  font-weight: 400;
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.home_title-special {
  color: var(--accent-color);
}

.home_des {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 2.3rem;
}

.home_button {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.home_button:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 0.5px solid var(--accent-color);
}

.heritage {
  position: relative;
  background-image: url('../images/heritage_bg.jpg');
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heritage_wrapper {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.heritage_overlay {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #03021ea1;
  z-index: 1;
}

.coastal {
  position: relative;
  background-image: url('../images/coastal_bg.jpg');
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coastal_wrapper {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.coastal_overlay {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #03021ea1;
  z-index: 1;
}

.page_button {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.page_button:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 0.5px solid var(--accent-color);
}

.page_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.place_card {
  max-width: 500px;
  margin: 2rem;
  width: 100%;
}
.place_card img {
  width: 100%;
  height: auto;
  display: block;
}

.place_card:hover img {
  overflow: hidden;
  transform: scale(0.99);
  cursor: pointer;
}

.place_content {
  margin-top: 2rem;
}

.place_content h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.main_place {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  justify-self: center;
  margin: 1rem 2rem 5rem 2rem;
}

.main_place img {
  width: 100%;
}

.main_place_title {
  text-align: left;
}

.main_place_des {
  line-height: 1.5;
}

.main_place_des,
.main_place_image,
.main_place_list {
  padding-bottom: 2rem;
}

.main_place_list h3 {
  padding-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.main_place_list-item {
  padding-left: 1.2em;
  text-indent: -1.2em;
  padding-bottom: 0.5rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.main_place_button {
  border: none;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 12px 24px 12px 0;
  text-align: left;
  width: fit-content;
}

.main_place_button:hover {
  color: var(--text-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
  color: var(--accent-color);
  background-color: #000000;
}

.footer_button {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.footer_button:hover {
  color: #adabfe;
  cursor: pointer;
}

@media (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }
  h1 {
    font-weight: 300;
    font-size: 3rem;
    margin: 1rem;
  }
  .header_logo-text {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .mobile_hamberger {
    display: block;
  }

  .mobile_close {
    display: none;
    position: relative;
    z-index: 1001;
  }

  .mobile_close.menu_open {
    display: block;
  }

  .mobile_hamberger.menu_open {
    display: none;
  }

  .header {
    position: relative;
    padding: 1.4rem;
    z-index: 1001;
  }

  .header_nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
  }

  .header_nav.menu_open {
    display: flex;
  }

  .header_link {
    font-size: 1.5rem;
  }
  .home_title {
    font-size: 3.2rem;
    font-weight: 300;
  }
  .home_des {
    font-size: 1.1rem;
  }
  .page_section {
    padding: 0;
  }
  .place_card {
    margin: 1rem;
  }
  .place_content h3 {
    font-size: 20px;
    font-weight: 300;
  }
  .place_content p {
    font-size: 16px;
  }
  .heritage_wrapper,
  .coastal_wrapper p {
    margin: 1rem;
  }
  .main_place {
    margin: 1rem 1rem 5rem 1rem;
  }
  .main_place_title {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.3rem;
  }
  .main_place_list h3 {
    font-size: 1.3rem;
  }
  .main_place_des,
  .main_place_list-item {
    font-size: 1rem;
  }
  .footer {
    display: block;
    padding-left: 2rem;
  }
  .footer_copyright {
    font-size: 1rem;
  }
  .footer_button {
    margin-top: 3rem;
    padding-left: 0;
  }
}
